<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionDB" connectionString="Database=Rpaquetes;Server=DESKTOP-OGAUHRL; User=Conexion_Visual; Pwd=123456; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>